In [2]:
import tabula

In [155]:
file = "../papers/Jung_2018.pdf"
tables = tabula.read_pdf(file, pages=36)

In [156]:
type(tables[0])

pandas.core.frame.DataFrame

In [157]:
tables[0]

,연도,연령,집단1\r(78.9),집단2\r(142.9),집단3\r(90.4),집단4\r(54.1),집단5\r(74.0),집단6\r(51.1),Unnamed: 0,Unnamed: 1,Unnamed: 2
0,1989,19,NaN,NaN,NaN,121.0,NaN,NaN,121.0,NaN,NaN
1,1990,20,NaN,NaN,NaN,125.4,NaN,125.4,NaN,NaN,NaN
2,1991,21,NaN,NaN,NaN,129.7,NaN,129.7,NaN,NaN,NaN
3,1992,22,NaN,176.0,NaN,NaN,NaN,134.1,165.6,NaN,134.1
4,1993,23,180.6,NaN,NaN,138.4,171.6,138.4,NaN,NaN,NaN
5,1994,24,185.2,NaN,NaN,147.8,NaN,142.8,177.5,142.8,NaN
6,1995,25,189.8,NaN,155.8,145.4,183.5,145.4,NaN,NaN,NaN
7,1996,26,194.3,NaN,226.5,NaN,163.8,NaN,189.4,NaN,NaN
8,1997,27,198.9,240.6,171.7,NaN,195.4,NaN,NaN,NaN,NaN
9,1998,28,203.1,254.6,179.7,NaN,199.1,NaN,NaN,NaN,NaN
10,1999,29,207.4,268.7,187.7,NaN,202.7,NaN,NaN,NaN,NaN
11,2000,30,211.6,282.7,196.0,NaN,206.3,NaN,NaN,NaN,NaN
12,2001,31,215.8,296.8,204.3,148.1,210.0,148.1,NaN,NaN,NaN
13,2002,32,220.0,310.8,212.5,150.8,213.6,150.8,NaN,NaN,NaN
14,2003,33,224.3,324.8,220.8,153.4,NaN,153.4,NaN,NaN,NaN
15,2004,34,228.5,338.9,229.1,156.1,NaN,156.1,NaN,NaN,NaN
16,2005,35,232.7,352.9,237.4,158.8,NaN,158.8,NaN,NaN,NaN
17,2006,36,236.9,367.0,245.6,161.4,NaN,161.4,NaN,NaN,NaN
18,2007,37,241.2,381.0,253.9,NaN,NaN,NaN,NaN,NaN,NaN
19,2008,38,244.3,395.1,262.2,NaN,217.3,NaN,NaN,NaN,NaN
20,2009,39,247.5,409.1,270.5,NaN,220.9,NaN,NaN,NaN,NaN
21,2010,40,250.7,423.2,278.8,164.1,224.6,164.1,NaN,NaN,NaN
22,2011,41,253.8,437.2,287.0,166.7,228.2,166.7,NaN,NaN,NaN
23,2012,42,257.0,450.8,295.3,169.4,231.8,169.4,NaN,NaN,NaN
24,2013,43,258.8,464.4,303.6,172.1,235.5,172.1,NaN,NaN,NaN
25,2014,44,260.5,478.0,311.9,174.7,239.1,174.7,NaN,NaN,NaN
26,2015,45,262.3,491.6,320.4,177.4,242.8,177.4,NaN,NaN,NaN
27,2016,46,264.0,505.2,329.0,NaN,246.4,NaN,NaN,NaN,NaN
28,2017,47,265.8,519.2,337.5,180.0,250.1,180.0,NaN,NaN,NaN
29,2018,48,267.6,533.2,346.1,182.7,NaN,NaN,NaN,NaN,NaN
30,2019,49,269.3,547.3,354.7,183.0,NaN,NaN,NaN,NaN,NaN
31,2020,50,271.1,561.3,363.6,183.2,NaN,NaN,NaN,NaN,NaN
32,2021,51,272.8,575.4,372.5,183.4,250.4,NaN,NaN,NaN,NaN
33,2022,52,274.6,589.0,381.3,183.7,250.7,NaN,NaN,NaN,NaN
34,2023,53,276.4,602.6,390.2,NaN,251.0,NaN,NaN,NaN,NaN
35,2024,54,278.1,616.2,399.1,NaN,251.4,NaN,NaN,NaN,NaN
36,2025,55,NaN,629.7,NaN,NaN,251.7,NaN,NaN,NaN,NaN
37,2026,56,NaN,NaN,NaN,NaN,246.7,NaN,NaN,NaN,NaN
38,2027,57,NaN,NaN,NaN,NaN,241.8,NaN,NaN,NaN,NaN
39,2028,58,NaN,NaN,NaN,NaN,236.8,NaN,NaN,NaN,NaN
40,2029,59,NaN,NaN,NaN,183.9,231.8,NaN,NaN,NaN,NaN
41,2030,60,NaN,NaN,NaN,180.3,226.9,181.7,NaN,NaN,NaN
42,2031,61,NaN,NaN,NaN,176.7,NaN,NaN,NaN,NaN,NaN
43,2032,62,NaN,NaN,NaN,173.0,NaN,NaN,NaN,NaN,NaN
44,2033,63,NaN,NaN,NaN,169.4,NaN,NaN,NaN,NaN,NaN
45,2034,64,NaN,NaN,NaN,165.8,NaN,NaN,NaN,NaN,NaN

In [158]:
table = tables[0].iloc[:, :8]

In [161]:
table.iloc[3, 5] = 134.1
table.iloc[3, 6] = 165.6
table.iloc[0, 7] = 121
table.iloc[5, 6] = 177.5

In [162]:
table

,연도,연령,집단1\r(78.9),집단2\r(142.9),집단3\r(90.4),집단4\r(54.1),집단5\r(74.0),집단6\r(51.1)
0,1989,19,NaN,NaN,NaN,121.0,NaN,121.0
1,1990,20,NaN,NaN,NaN,125.4,NaN,125.4
2,1991,21,NaN,NaN,NaN,129.7,NaN,129.7
3,1992,22,NaN,176.0,NaN,134.1,165.6,134.1
4,1993,23,180.6,NaN,NaN,138.4,171.6,138.4
5,1994,24,185.2,NaN,NaN,147.8,177.5,142.8
6,1995,25,189.8,NaN,155.8,145.4,183.5,145.4
7,1996,26,194.3,NaN,226.5,NaN,163.8,NaN
8,1997,27,198.9,240.6,171.7,NaN,195.4,NaN
9,1998,28,203.1,254.6,179.7,NaN,199.1,NaN
10,1999,29,207.4,268.7,187.7,NaN,202.7,NaN
11,2000,30,211.6,282.7,196.0,NaN,206.3,NaN
12,2001,31,215.8,296.8,204.3,148.1,210.0,148.1
13,2002,32,220.0,310.8,212.5,150.8,213.6,150.8
14,2003,33,224.3,324.8,220.8,153.4,NaN,153.4
15,2004,34,228.5,338.9,229.1,156.1,NaN,156.1
16,2005,35,232.7,352.9,237.4,158.8,NaN,158.8
17,2006,36,236.9,367.0,245.6,161.4,NaN,161.4
18,2007,37,241.2,381.0,253.9,NaN,NaN,NaN
19,2008,38,244.3,395.1,262.2,NaN,217.3,NaN
20,2009,39,247.5,409.1,270.5,NaN,220.9,NaN
21,2010,40,250.7,423.2,278.8,164.1,224.6,164.1
22,2011,41,253.8,437.2,287.0,166.7,228.2,166.7
23,2012,42,257.0,450.8,295.3,169.4,231.8,169.4
24,2013,43,258.8,464.4,303.6,172.1,235.5,172.1
25,2014,44,260.5,478.0,311.9,174.7,239.1,174.7
26,2015,45,262.3,491.6,320.4,177.4,242.8,177.4
27,2016,46,264.0,505.2,329.0,NaN,246.4,NaN
28,2017,47,265.8,519.2,337.5,180.0,250.1,180.0
29,2018,48,267.6,533.2,346.1,182.7,NaN,NaN
30,2019,49,269.3,547.3,354.7,183.0,NaN,NaN
31,2020,50,271.1,561.3,363.6,183.2,NaN,NaN
32,2021,51,272.8,575.4,372.5,183.4,250.4,NaN
33,2022,52,274.6,589.0,381.3,183.7,250.7,NaN
34,2023,53,276.4,602.6,390.2,NaN,251.0,NaN
35,2024,54,278.1,616.2,399.1,NaN,251.4,NaN
36,2025,55,NaN,629.7,NaN,NaN,251.7,NaN
37,2026,56,NaN,NaN,NaN,NaN,246.7,NaN
38,2027,57,NaN,NaN,NaN,NaN,241.8,NaN
39,2028,58,NaN,NaN,NaN,NaN,236.8,NaN
40,2029,59,NaN,NaN,NaN,183.9,231.8,NaN
41,2030,60,NaN,NaN,NaN,180.3,226.9,181.7
42,2031,61,NaN,NaN,NaN,176.7,NaN,NaN
43,2032,62,NaN,NaN,NaN,173.0,NaN,NaN
44,2033,63,NaN,NaN,NaN,169.4,NaN,NaN
45,2034,64,NaN,NaN,NaN,165.8,NaN,NaN

In [163]:
table.columns = ["year", "age", "group_1", "group_2", "group_3", "group_4", "group_5", "group_6"]

In [164]:
table

    year  age  group_1  group_2  group_3  group_4  group_5  group_6
0   1989   19      NaN      NaN      NaN    121.0      NaN    121.0
1   1990   20      NaN      NaN      NaN    125.4      NaN    125.4
2   1991   21      NaN      NaN      NaN    129.7      NaN    129.7
3   1992   22      NaN    176.0      NaN    134.1    165.6    134.1
4   1993   23    180.6      NaN      NaN    138.4    171.6    138.4
5   1994   24    185.2      NaN      NaN    147.8    177.5    142.8
6   1995   25    189.8      NaN    155.8    145.4    183.5    145.4
7   1996   26    194.3      NaN    226.5      NaN    163.8      NaN
8   1997   27    198.9    240.6    171.7      NaN    195.4      NaN
9   1998   28    203.1    254.6    179.7      NaN    199.1      NaN
10  1999   29    207.4    268.7    187.7      NaN    202.7      NaN
11  2000   30    211.6    282.7    196.0      NaN    206.3      NaN
12  2001   31    215.8    296.8    204.3    148.1    210.0    148.1
13  2002   32    220.0    310.8    212.5    150.8    213.6    150.8
14  2003   33    224.3    324.8    220.8    153.4      NaN    153.4
15  2004   34    228.5    338.9    229.1    156.1      NaN    156.1
16  2005   35    232.7    352.9    237.4    158.8      NaN    158.8
17  2006   36    236.9    367.0    245.6    161.4      NaN    161.4
18  2007   37    241.2    381.0    253.9      NaN      NaN      NaN
19  2008   38    244.3    395.1    262.2      NaN    217.3      NaN
20  2009   39    247.5    409.1    270.5      NaN    220.9      NaN
21  2010   40    250.7    423.2    278.8    164.1    224.6    164.1
22  2011   41    253.8    437.2    287.0    166.7    228.2    166.7
23  2012   42    257.0    450.8    295.3    169.4    231.8    169.4
24  2013   43    258.8    464.4    303.6    172.1    235.5    172.1
25  2014   44    260.5    478.0    311.9    174.7    239.1    174.7
26  2015   45    262.3    491.6    320.4    177.4    242.8    177.4
27  2016   46    264.0    505.2    329.0      NaN    246.4      NaN
28  2017   47    265.8    519.2    337.5    180.0    250.1    180.0
29  2018   48    267.6    533.2    346.1    182.7      NaN      NaN
30  2019   49    269.3    547.3    354.7    183.0      NaN      NaN
31  2020   50    271.1    561.3    363.6    183.2      NaN      NaN
32  2021   51    272.8    575.4    372.5    183.4    250.4      NaN
33  2022   52    274.6    589.0    381.3    183.7    250.7      NaN
34  2023   53    276.4    602.6    390.2      NaN    251.0      NaN
35  2024   54    278.1    616.2    399.1      NaN    251.4      NaN
36  2025   55      NaN    629.7      NaN      NaN    251.7      NaN
37  2026   56      NaN      NaN      NaN      NaN    246.7      NaN
38  2027   57      NaN      NaN      NaN      NaN    241.8      NaN
39  2028   58      NaN      NaN      NaN      NaN    236.8      NaN
40  2029   59      NaN      NaN      NaN    183.9    231.8      NaN
41  2030   60      NaN      NaN      NaN    180.3    226.9    181.7
42  2031   61      NaN      NaN      NaN    176.7      NaN      NaN
43  2032   62      NaN      NaN      NaN    173.0      NaN      NaN
44  2033   63      NaN      NaN      NaN    169.4      NaN      NaN
45  2034   64      NaN      NaN      NaN    165.8      NaN      NaN

In [165]:
table.to_csv("../data/new/base_wage_history.csv")

In [166]:
table.iloc[:, -3:] * (1.021)**3

       group_4     group_5     group_6
0   128.784204         NaN  128.784204
1   133.467266         NaN  133.467266
2   138.043894         NaN  138.043894
3   142.726956  176.253422  142.726956
4   147.303585  182.639416  147.303585
5   157.308308  188.918976  151.986647
6   154.753911  195.304970  154.753911
7          NaN  174.337624         NaN
8          NaN  207.970524         NaN
9          NaN  211.908553         NaN
10         NaN  215.740149         NaN
11         NaN  219.571745         NaN
12  157.627608  223.509775  157.627608
13  160.501305  227.341371  160.501305
14  163.268569         NaN  163.268569
15  166.142266         NaN  166.142266
16  169.015963         NaN  169.015963
17  171.783227         NaN  171.783227
18         NaN         NaN         NaN
19         NaN  231.279400         NaN
20         NaN  235.110996         NaN
21  174.656924  239.049026  174.656924
22  177.424188  242.880622  177.424188
23  180.297885  246.712218  180.297885
24  183.171582  250.650247  183.171582
25  185.938846  254.481844  185.938846
26  188.812543  258.419873  188.812543
27         NaN  262.251469         NaN
28  191.579807  266.189498  191.579807
29  194.453504         NaN         NaN
30  194.772804         NaN         NaN
31  194.985670         NaN         NaN
32  195.198537  266.508798         NaN
33  195.517836  266.828098         NaN
34         NaN  267.147398         NaN
35         NaN  267.573130         NaN
36         NaN  267.892430         NaN
37         NaN  262.570769         NaN
38         NaN  257.355541         NaN
39         NaN  252.033879         NaN
40  195.730703  246.712218         NaN
41  191.899107  241.496990  193.389172
42  188.067511         NaN         NaN
43  184.129481         NaN         NaN
44  180.297885         NaN         NaN
45  176.466289         NaN         NaN

In [167]:
base_wage = [280.877604 * 0.65, 378.240664 * 0.8, 266 * 0.6]

In [168]:
base_wage

[182.5704426, 302.5925312, 159.6]

In [169]:
import pandas as pd

In [170]:
wage_function = pd.read_csv("../data/new/wage_function.txt", sep=" ")

In [171]:
wage_function

    yos   group_1   group_2   group_3
0     1  1.000000  1.000000  1.000000
1     2  1.008928  1.011678  1.007977
2     3  1.020823  1.027020  1.017402
3     4  1.036106  1.046980  1.028602
4     5  1.055338  1.071378  1.041971
5     6  1.079078  1.098567  1.057947
6     7  1.107147  1.127240  1.076956
7     8  1.138541  1.157645  1.099306
8     9  1.171622  1.189532  1.125067
9    10  1.202307  1.220665  1.153998
10   11  1.224779  1.248419  1.185615
11   12  1.238025  1.271612  1.219399
12   13  1.249185  1.281251  1.255029
13   14  1.269997  1.311033  1.292469
14   15  1.308020  1.335745  1.331814
15   16  1.356947  1.366868  1.372992
16   17  1.400597  1.401015  1.415514
17   18  1.426923  1.433760  1.458466
18   19  1.434750  1.462452  1.500818
19   20  1.436888  1.486165  1.541859
20   21  1.455835  1.506449  1.581479
21   22  1.509904  1.527866  1.620177
22   23  1.605528  1.557687  1.658868
23   24  1.728878  1.603624  1.698641
24   25  1.845986  1.668088  1.740519
25   26  1.931420  1.745391  1.785180
26   27  1.984603  1.823154  1.832652
27   28  2.013102  1.882617  1.882090
28   29  2.014127  1.905734  1.931843
29   30  1.980114  1.892499  1.979828
30   31  1.920551  1.861894  2.024003
31   32  1.854878  1.831559  2.062680
32   33  1.795146  1.809985  2.094613
33   34  1.744673  1.804438  2.118981
34   35  1.698215  1.825268  2.135377
35   36  1.640854  1.870230  2.144636
36   37  1.573109  1.909273  2.144636
37   38  1.554518  1.911028  2.138332
38   39  1.601819  1.865677  2.125236
39   40  1.644690  1.774092  2.105303
40   41  1.622999  1.636262  2.078071
41   42  1.627333  1.467621  2.042912
42   43  1.556277  1.356337  1.999581
43   44  1.411368  1.452061  1.948923
44   45  1.208054  1.828544  1.893361
45   46  1.043286  2.518608  1.836726

In [172]:
wage_function.columns

Index(['yos', 'group_1', 'group_2', 'group_3'], dtype='object')

In [173]:
wage_function.shape

(46, 4)

In [174]:
wage_function['yos'] -= 1

    yos   group_1   group_2   group_3
0     0  1.000000  1.000000  1.000000
1     1  1.008928  1.011678  1.007977
2     2  1.020823  1.027020  1.017402
3     3  1.036106  1.046980  1.028602
4     4  1.055338  1.071378  1.041971
5     5  1.079078  1.098567  1.057947
6     6  1.107147  1.127240  1.076956
7     7  1.138541  1.157645  1.099306
8     8  1.171622  1.189532  1.125067
9     9  1.202307  1.220665  1.153998
10   10  1.224779  1.248419  1.185615
11   11  1.238025  1.271612  1.219399
12   12  1.249185  1.281251  1.255029
13   13  1.269997  1.311033  1.292469
14   14  1.308020  1.335745  1.331814
15   15  1.356947  1.366868  1.372992
16   16  1.400597  1.401015  1.415514
17   17  1.426923  1.433760  1.458466
18   18  1.434750  1.462452  1.500818
19   19  1.436888  1.486165  1.541859
20   20  1.455835  1.506449  1.581479
21   21  1.509904  1.527866  1.620177
22   22  1.605528  1.557687  1.658868
23   23  1.728878  1.603624  1.698641
24   24  1.845986  1.668088  1.740519
25   25  1.931420  1.745391  1.785180
26   26  1.984603  1.823154  1.832652
27   27  2.013102  1.882617  1.882090
28   28  2.014127  1.905734  1.931843
29   29  1.980114  1.892499  1.979828
30   30  1.920551  1.861894  2.024003
31   31  1.854878  1.831559  2.062680
32   32  1.795146  1.809985  2.094613
33   33  1.744673  1.804438  2.118981
34   34  1.698215  1.825268  2.135377
35   35  1.640854  1.870230  2.144636
36   36  1.573109  1.909273  2.144636
37   37  1.554518  1.911028  2.138332
38   38  1.601819  1.865677  2.125236
39   39  1.644690  1.774092  2.105303
40   40  1.622999  1.636262  2.078071
41   41  1.627333  1.467621  2.042912
42   42  1.556277  1.356337  1.999581
43   43  1.411368  1.452061  1.948923
44   44  1.208054  1.828544  1.893361
45   45  1.043286  2.518608  1.836726

In [175]:
wage_history = pd.DataFrame()
wage_history[['group_4', 'group_5', 'group_6']] = table.iloc[:, -3:] * (1.021)**3

In [176]:
wage_history['group_1'] = wage_function['group_1'] * base_wage[0]

In [177]:
wage_history['group_2'] = wage_function['group_2'] * base_wage[1]

In [178]:
wage_history['group_3'] = wage_function['group_3'] * base_wage[2]

In [179]:
wage_history

       group_4     group_5     group_6     group_1     group_2     group_3
0   128.784204         NaN  128.784204  182.570443  302.592531  159.600000
1   133.467266         NaN  133.467266  184.200432  306.126207  160.873129
2   138.043894         NaN  138.043894  186.372107  310.768581  162.377359
3   142.726956  176.253422  142.726956  189.162331  316.808328  164.164879
4   147.303585  182.639416  147.303585  192.673526  324.190981  166.298572
5   157.308308  188.918976  151.986647  197.007748  332.418169  168.848341
6   154.753911  195.304970  154.753911  202.132318  341.094405  171.882178
7          NaN  174.337624         NaN  207.863934  350.294731  175.449238
8          NaN  207.970524         NaN  213.903547  359.943499  179.560693
9          NaN  211.908553         NaN  219.505721  369.364112  184.178081
10         NaN  215.740149         NaN  223.608444  377.762265  189.224154
11         NaN  219.571745         NaN  226.026772  384.780294  194.616080
12  157.627608  223.509775  157.627608  228.064258  387.696983  200.302628
13  160.501305  227.341371  160.501305  231.863914  396.708794  206.278052
14  163.268569         NaN  163.268569  238.805790  404.186461  212.557514
15  166.142266         NaN  166.142266  247.738414  413.604048  219.129523
16  169.015963         NaN  169.015963  255.707614  423.936675  225.916034
17  171.783227         NaN  171.783227  260.513964  433.845068  232.771174
18         NaN         NaN         NaN  261.942943  442.527052  239.530553
19         NaN  231.279400         NaN  262.333278  449.702429  246.080696
20         NaN  235.110996         NaN  265.792440  455.840216  252.404048
21  174.656924  239.049026  174.656924  275.663842  462.320840  258.580249
22  177.424188  242.880622  177.424188  293.121958  471.344452  264.755333
23  180.297885  246.712218  180.297885  315.642022  485.244645  271.103104
24  183.171582  250.650247  183.171582  337.022481  504.750970  277.786832
25  185.938846  254.481844  185.938846  352.620204  528.142281  284.914728
26  188.812543  258.419873  188.812543  362.329848  551.672784  292.491259
27         NaN  262.251469         NaN  367.532923  569.665843  300.381564
28  191.579807  266.189498  191.579807  367.720058  576.660875  308.322143
29  194.453504         NaN         NaN  361.510289  572.656063  315.980549
30  194.772804         NaN         NaN  350.635846  563.395218  323.030879
31  194.985670         NaN         NaN  338.645897  554.216074  329.203728
32  195.198537  266.508798         NaN  327.740600  547.687943  334.300235
33  195.517836  266.828098         NaN  318.525722  546.009462  338.189368
34         NaN  267.147398         NaN  310.043864  552.312464  340.806169
35         NaN  267.573130         NaN  299.571441  565.917630  342.283906
36         NaN  267.892430         NaN  287.203206  577.731750  342.283906
37         NaN  262.570769         NaN  283.809039  578.262800  341.277787
38         NaN  257.355541         NaN  292.444804  564.539926  339.187666
39         NaN  252.033879         NaN  300.271781  536.826989  336.006359
40  195.730703  246.712218         NaN  296.311646  495.120660  331.660132
41  191.899107  241.496990  193.389172  297.102906  444.091153  326.048755
42  188.067511         NaN         NaN  284.130181  410.417446  319.133128
43  184.129481         NaN         NaN  257.674080  439.382813  311.048111
44  180.297885         NaN         NaN  220.554953  553.303757  302.180416
45  176.466289         NaN         NaN  190.473187  762.111970  293.141470

In [180]:
import numpy as np
wage_history['group_1'] = wage_history['group_1'].shift(periods=3, fill_value=np.nan)

In [181]:
wage_history

       group_4     group_5     group_6     group_1     group_2     group_3
0   128.784204         NaN  128.784204         NaN  302.592531  159.600000
1   133.467266         NaN  133.467266         NaN  306.126207  160.873129
2   138.043894         NaN  138.043894         NaN  310.768581  162.377359
3   142.726956  176.253422  142.726956  182.570443  316.808328  164.164879
4   147.303585  182.639416  147.303585  184.200432  324.190981  166.298572
5   157.308308  188.918976  151.986647  186.372107  332.418169  168.848341
6   154.753911  195.304970  154.753911  189.162331  341.094405  171.882178
7          NaN  174.337624         NaN  192.673526  350.294731  175.449238
8          NaN  207.970524         NaN  197.007748  359.943499  179.560693
9          NaN  211.908553         NaN  202.132318  369.364112  184.178081
10         NaN  215.740149         NaN  207.863934  377.762265  189.224154
11         NaN  219.571745         NaN  213.903547  384.780294  194.616080
12  157.627608  223.509775  157.627608  219.505721  387.696983  200.302628
13  160.501305  227.341371  160.501305  223.608444  396.708794  206.278052
14  163.268569         NaN  163.268569  226.026772  404.186461  212.557514
15  166.142266         NaN  166.142266  228.064258  413.604048  219.129523
16  169.015963         NaN  169.015963  231.863914  423.936675  225.916034
17  171.783227         NaN  171.783227  238.805790  433.845068  232.771174
18         NaN         NaN         NaN  247.738414  442.527052  239.530553
19         NaN  231.279400         NaN  255.707614  449.702429  246.080696
20         NaN  235.110996         NaN  260.513964  455.840216  252.404048
21  174.656924  239.049026  174.656924  261.942943  462.320840  258.580249
22  177.424188  242.880622  177.424188  262.333278  471.344452  264.755333
23  180.297885  246.712218  180.297885  265.792440  485.244645  271.103104
24  183.171582  250.650247  183.171582  275.663842  504.750970  277.786832
25  185.938846  254.481844  185.938846  293.121958  528.142281  284.914728
26  188.812543  258.419873  188.812543  315.642022  551.672784  292.491259
27         NaN  262.251469         NaN  337.022481  569.665843  300.381564
28  191.579807  266.189498  191.579807  352.620204  576.660875  308.322143
29  194.453504         NaN         NaN  362.329848  572.656063  315.980549
30  194.772804         NaN         NaN  367.532923  563.395218  323.030879
31  194.985670         NaN         NaN  367.720058  554.216074  329.203728
32  195.198537  266.508798         NaN  361.510289  547.687943  334.300235
33  195.517836  266.828098         NaN  350.635846  546.009462  338.189368
34         NaN  267.147398         NaN  338.645897  552.312464  340.806169
35         NaN  267.573130         NaN  327.740600  565.917630  342.283906
36         NaN  267.892430         NaN  318.525722  577.731750  342.283906
37         NaN  262.570769         NaN  310.043864  578.262800  341.277787
38         NaN  257.355541         NaN  299.571441  564.539926  339.187666
39         NaN  252.033879         NaN  287.203206  536.826989  336.006359
40  195.730703  246.712218         NaN  283.809039  495.120660  331.660132
41  191.899107  241.496990  193.389172  292.444804  444.091153  326.048755
42  188.067511         NaN         NaN  300.271781  410.417446  319.133128
43  184.129481         NaN         NaN  296.311646  439.382813  311.048111
44  180.297885         NaN         NaN  297.102906  553.303757  302.180416
45  176.466289         NaN         NaN  284.130181  762.111970  293.141470

In [182]:
wage_history.loc[36:, 'group_1'] = np.nan

In [183]:
wage_history

       group_4     group_5     group_6     group_1     group_2     group_3
0   128.784204         NaN  128.784204         NaN  302.592531  159.600000
1   133.467266         NaN  133.467266         NaN  306.126207  160.873129
2   138.043894         NaN  138.043894         NaN  310.768581  162.377359
3   142.726956  176.253422  142.726956  182.570443  316.808328  164.164879
4   147.303585  182.639416  147.303585  184.200432  324.190981  166.298572
5   157.308308  188.918976  151.986647  186.372107  332.418169  168.848341
6   154.753911  195.304970  154.753911  189.162331  341.094405  171.882178
7          NaN  174.337624         NaN  192.673526  350.294731  175.449238
8          NaN  207.970524         NaN  197.007748  359.943499  179.560693
9          NaN  211.908553         NaN  202.132318  369.364112  184.178081
10         NaN  215.740149         NaN  207.863934  377.762265  189.224154
11         NaN  219.571745         NaN  213.903547  384.780294  194.616080
12  157.627608  223.509775  157.627608  219.505721  387.696983  200.302628
13  160.501305  227.341371  160.501305  223.608444  396.708794  206.278052
14  163.268569         NaN  163.268569  226.026772  404.186461  212.557514
15  166.142266         NaN  166.142266  228.064258  413.604048  219.129523
16  169.015963         NaN  169.015963  231.863914  423.936675  225.916034
17  171.783227         NaN  171.783227  238.805790  433.845068  232.771174
18         NaN         NaN         NaN  247.738414  442.527052  239.530553
19         NaN  231.279400         NaN  255.707614  449.702429  246.080696
20         NaN  235.110996         NaN  260.513964  455.840216  252.404048
21  174.656924  239.049026  174.656924  261.942943  462.320840  258.580249
22  177.424188  242.880622  177.424188  262.333278  471.344452  264.755333
23  180.297885  246.712218  180.297885  265.792440  485.244645  271.103104
24  183.171582  250.650247  183.171582  275.663842  504.750970  277.786832
25  185.938846  254.481844  185.938846  293.121958  528.142281  284.914728
26  188.812543  258.419873  188.812543  315.642022  551.672784  292.491259
27         NaN  262.251469         NaN  337.022481  569.665843  300.381564
28  191.579807  266.189498  191.579807  352.620204  576.660875  308.322143
29  194.453504         NaN         NaN  362.329848  572.656063  315.980549
30  194.772804         NaN         NaN  367.532923  563.395218  323.030879
31  194.985670         NaN         NaN  367.720058  554.216074  329.203728
32  195.198537  266.508798         NaN  361.510289  547.687943  334.300235
33  195.517836  266.828098         NaN  350.635846  546.009462  338.189368
34         NaN  267.147398         NaN  338.645897  552.312464  340.806169
35         NaN  267.573130         NaN  327.740600  565.917630  342.283906
36         NaN  267.892430         NaN         NaN  577.731750  342.283906
37         NaN  262.570769         NaN         NaN  578.262800  341.277787
38         NaN  257.355541         NaN         NaN  564.539926  339.187666
39         NaN  252.033879         NaN         NaN  536.826989  336.006359
40  195.730703  246.712218         NaN         NaN  495.120660  331.660132
41  191.899107  241.496990  193.389172         NaN  444.091153  326.048755
42  188.067511         NaN         NaN         NaN  410.417446  319.133128
43  184.129481         NaN         NaN         NaN  439.382813  311.048111
44  180.297885         NaN         NaN         NaN  553.303757  302.180416
45  176.466289         NaN         NaN         NaN  762.111970  293.141470

In [184]:
wage_history['group_2'] = wage_history['group_2'].shift(periods=7, fill_value=np.nan) 
wage_history.loc[37:, 'group_2'] = np.nan
wage_history

       group_4     group_5     group_6     group_1     group_2     group_3
0   128.784204         NaN  128.784204         NaN         NaN  159.600000
1   133.467266         NaN  133.467266         NaN         NaN  160.873129
2   138.043894         NaN  138.043894         NaN         NaN  162.377359
3   142.726956  176.253422  142.726956  182.570443         NaN  164.164879
4   147.303585  182.639416  147.303585  184.200432         NaN  166.298572
5   157.308308  188.918976  151.986647  186.372107         NaN  168.848341
6   154.753911  195.304970  154.753911  189.162331         NaN  171.882178
7          NaN  174.337624         NaN  192.673526  302.592531  175.449238
8          NaN  207.970524         NaN  197.007748  306.126207  179.560693
9          NaN  211.908553         NaN  202.132318  310.768581  184.178081
10         NaN  215.740149         NaN  207.863934  316.808328  189.224154
11         NaN  219.571745         NaN  213.903547  324.190981  194.616080
12  157.627608  223.509775  157.627608  219.505721  332.418169  200.302628
13  160.501305  227.341371  160.501305  223.608444  341.094405  206.278052
14  163.268569         NaN  163.268569  226.026772  350.294731  212.557514
15  166.142266         NaN  166.142266  228.064258  359.943499  219.129523
16  169.015963         NaN  169.015963  231.863914  369.364112  225.916034
17  171.783227         NaN  171.783227  238.805790  377.762265  232.771174
18         NaN         NaN         NaN  247.738414  384.780294  239.530553
19         NaN  231.279400         NaN  255.707614  387.696983  246.080696
20         NaN  235.110996         NaN  260.513964  396.708794  252.404048
21  174.656924  239.049026  174.656924  261.942943  404.186461  258.580249
22  177.424188  242.880622  177.424188  262.333278  413.604048  264.755333
23  180.297885  246.712218  180.297885  265.792440  423.936675  271.103104
24  183.171582  250.650247  183.171582  275.663842  433.845068  277.786832
25  185.938846  254.481844  185.938846  293.121958  442.527052  284.914728
26  188.812543  258.419873  188.812543  315.642022  449.702429  292.491259
27         NaN  262.251469         NaN  337.022481  455.840216  300.381564
28  191.579807  266.189498  191.579807  352.620204  462.320840  308.322143
29  194.453504         NaN         NaN  362.329848  471.344452  315.980549
30  194.772804         NaN         NaN  367.532923  485.244645  323.030879
31  194.985670         NaN         NaN  367.720058  504.750970  329.203728
32  195.198537  266.508798         NaN  361.510289  528.142281  334.300235
33  195.517836  266.828098         NaN  350.635846  551.672784  338.189368
34         NaN  267.147398         NaN  338.645897  569.665843  340.806169
35         NaN  267.573130         NaN  327.740600  576.660875  342.283906
36         NaN  267.892430         NaN         NaN  572.656063  342.283906
37         NaN  262.570769         NaN         NaN         NaN  341.277787
38         NaN  257.355541         NaN         NaN         NaN  339.187666
39         NaN  252.033879         NaN         NaN         NaN  336.006359
40  195.730703  246.712218         NaN         NaN         NaN  331.660132
41  191.899107  241.496990  193.389172         NaN         NaN  326.048755
42  188.067511         NaN         NaN         NaN         NaN  319.133128
43  184.129481         NaN         NaN         NaN         NaN  311.048111
44  180.297885         NaN         NaN         NaN         NaN  302.180416
45  176.466289         NaN         NaN         NaN         NaN  293.141470

In [185]:
wage_history['group_3'] = wage_history['group_3'].shift(periods=5, fill_value=np.nan) 
wage_history.loc[36:, 'group_3'] = np.nan
wage_history

       group_4     group_5     group_6     group_1     group_2     group_3
0   128.784204         NaN  128.784204         NaN         NaN         NaN
1   133.467266         NaN  133.467266         NaN         NaN         NaN
2   138.043894         NaN  138.043894         NaN         NaN         NaN
3   142.726956  176.253422  142.726956  182.570443         NaN         NaN
4   147.303585  182.639416  147.303585  184.200432         NaN         NaN
5   157.308308  188.918976  151.986647  186.372107         NaN  159.600000
6   154.753911  195.304970  154.753911  189.162331         NaN  160.873129
7          NaN  174.337624         NaN  192.673526  302.592531  162.377359
8          NaN  207.970524         NaN  197.007748  306.126207  164.164879
9          NaN  211.908553         NaN  202.132318  310.768581  166.298572
10         NaN  215.740149         NaN  207.863934  316.808328  168.848341
11         NaN  219.571745         NaN  213.903547  324.190981  171.882178
12  157.627608  223.509775  157.627608  219.505721  332.418169  175.449238
13  160.501305  227.341371  160.501305  223.608444  341.094405  179.560693
14  163.268569         NaN  163.268569  226.026772  350.294731  184.178081
15  166.142266         NaN  166.142266  228.064258  359.943499  189.224154
16  169.015963         NaN  169.015963  231.863914  369.364112  194.616080
17  171.783227         NaN  171.783227  238.805790  377.762265  200.302628
18         NaN         NaN         NaN  247.738414  384.780294  206.278052
19         NaN  231.279400         NaN  255.707614  387.696983  212.557514
20         NaN  235.110996         NaN  260.513964  396.708794  219.129523
21  174.656924  239.049026  174.656924  261.942943  404.186461  225.916034
22  177.424188  242.880622  177.424188  262.333278  413.604048  232.771174
23  180.297885  246.712218  180.297885  265.792440  423.936675  239.530553
24  183.171582  250.650247  183.171582  275.663842  433.845068  246.080696
25  185.938846  254.481844  185.938846  293.121958  442.527052  252.404048
26  188.812543  258.419873  188.812543  315.642022  449.702429  258.580249
27         NaN  262.251469         NaN  337.022481  455.840216  264.755333
28  191.579807  266.189498  191.579807  352.620204  462.320840  271.103104
29  194.453504         NaN         NaN  362.329848  471.344452  277.786832
30  194.772804         NaN         NaN  367.532923  485.244645  284.914728
31  194.985670         NaN         NaN  367.720058  504.750970  292.491259
32  195.198537  266.508798         NaN  361.510289  528.142281  300.381564
33  195.517836  266.828098         NaN  350.635846  551.672784  308.322143
34         NaN  267.147398         NaN  338.645897  569.665843  315.980549
35         NaN  267.573130         NaN  327.740600  576.660875  323.030879
36         NaN  267.892430         NaN         NaN  572.656063         NaN
37         NaN  262.570769         NaN         NaN         NaN         NaN
38         NaN  257.355541         NaN         NaN         NaN         NaN
39         NaN  252.033879         NaN         NaN         NaN         NaN
40  195.730703  246.712218         NaN         NaN         NaN         NaN
41  191.899107  241.496990  193.389172         NaN         NaN         NaN
42  188.067511         NaN         NaN         NaN         NaN         NaN
43  184.129481         NaN         NaN         NaN         NaN         NaN
44  180.297885         NaN         NaN         NaN         NaN         NaN
45  176.466289         NaN         NaN         NaN         NaN         NaN

In [186]:
wage_history = wage_history[['group_1', 'group_2', 'group_3', 'group_4', 'group_5', 'group_6']]
wage_history.index.name = 'yos'
wage_history

        group_1     group_2     group_3     group_4     group_5     group_6
yos
0           NaN         NaN         NaN  128.784204         NaN  128.784204
1           NaN         NaN         NaN  133.467266         NaN  133.467266
2           NaN         NaN         NaN  138.043894         NaN  138.043894
3    182.570443         NaN         NaN  142.726956  176.253422  142.726956
4    184.200432         NaN         NaN  147.303585  182.639416  147.303585
5    186.372107         NaN  159.600000  157.308308  188.918976  151.986647
6    189.162331         NaN  160.873129  154.753911  195.304970  154.753911
7    192.673526  302.592531  162.377359         NaN  174.337624         NaN
8    197.007748  306.126207  164.164879         NaN  207.970524         NaN
9    202.132318  310.768581  166.298572         NaN  211.908553         NaN
10   207.863934  316.808328  168.848341         NaN  215.740149         NaN
11   213.903547  324.190981  171.882178         NaN  219.571745         NaN
12   219.505721  332.418169  175.449238  157.627608  223.509775  157.627608
13   223.608444  341.094405  179.560693  160.501305  227.341371  160.501305
14   226.026772  350.294731  184.178081  163.268569         NaN  163.268569
15   228.064258  359.943499  189.224154  166.142266         NaN  166.142266
16   231.863914  369.364112  194.616080  169.015963         NaN  169.015963
17   238.805790  377.762265  200.302628  171.783227         NaN  171.783227
18   247.738414  384.780294  206.278052         NaN         NaN         NaN
19   255.707614  387.696983  212.557514         NaN  231.279400         NaN
20   260.513964  396.708794  219.129523         NaN  235.110996         NaN
21   261.942943  404.186461  225.916034  174.656924  239.049026  174.656924
22   262.333278  413.604048  232.771174  177.424188  242.880622  177.424188
23   265.792440  423.936675  239.530553  180.297885  246.712218  180.297885
24   275.663842  433.845068  246.080696  183.171582  250.650247  183.171582
25   293.121958  442.527052  252.404048  185.938846  254.481844  185.938846
26   315.642022  449.702429  258.580249  188.812543  258.419873  188.812543
27   337.022481  455.840216  264.755333         NaN  262.251469         NaN
28   352.620204  462.320840  271.103104  191.579807  266.189498  191.579807
29   362.329848  471.344452  277.786832  194.453504         NaN         NaN
30   367.532923  485.244645  284.914728  194.772804         NaN         NaN
31   367.720058  504.750970  292.491259  194.985670         NaN         NaN
32   361.510289  528.142281  300.381564  195.198537  266.508798         NaN
33   350.635846  551.672784  308.322143  195.517836  266.828098         NaN
34   338.645897  569.665843  315.980549         NaN  267.147398         NaN
35   327.740600  576.660875  323.030879         NaN  267.573130         NaN
36          NaN  572.656063         NaN         NaN  267.892430         NaN
37          NaN         NaN         NaN         NaN  262.570769         NaN
38          NaN         NaN         NaN         NaN  257.355541         NaN
39          NaN         NaN         NaN         NaN  252.033879         NaN
40          NaN         NaN         NaN  195.730703  246.712218         NaN
41          NaN         NaN         NaN  191.899107  241.496990  193.389172
42          NaN         NaN         NaN  188.067511         NaN         NaN
43          NaN         NaN         NaN  184.129481         NaN         NaN
44          NaN         NaN         NaN  180.297885         NaN         NaN
45          NaN         NaN         NaN  176.466289         NaN         NaN

In [187]:
wage_history_1970 = pd.DataFrame()
wage_history_1970['year'] = pd.DataFrame(range(1989, 2035))

In [188]:
wage_history_1970['age'] = pd.DataFrame(range(19, 65))
wage_history_1970[['group_1', 'group_2', 'group_3', 'group_4', 'group_5', 'group_6']] = wage_history[['group_1', 'group_2', 'group_3', 'group_4', 'group_5', 'group_6']]

In [189]:
wage_history_1970.to_csv('../data/new/wage_history_1970.csv')

In [190]:
wage_history_1970.head()

   year  age     group_1  group_2  group_3     group_4     group_5     group_6
0  1989   19         NaN      NaN      NaN  128.784204         NaN  128.784204
1  1990   20         NaN      NaN      NaN  133.467266         NaN  133.467266
2  1991   21         NaN      NaN      NaN  138.043894         NaN  138.043894
3  1992   22  182.570443      NaN      NaN  142.726956  176.253422  142.726956
4  1993   23  184.200432      NaN      NaN  147.303585  182.639416  147.303585

In [191]:
wage_history_1980 = wage_history_1970.copy()
wage_history_1980['year'] = pd.DataFrame(range(1999, 2045))

In [192]:
wage_history_1980.head()

   year  age     group_1  group_2  group_3     group_4     group_5     group_6
0  1999   19         NaN      NaN      NaN  128.784204         NaN  128.784204
1  2000   20         NaN      NaN      NaN  133.467266         NaN  133.467266
2  2001   21         NaN      NaN      NaN  138.043894         NaN  138.043894
3  2002   22  182.570443      NaN      NaN  142.726956  176.253422  142.726956
4  2003   23  184.200432      NaN      NaN  147.303585  182.639416  147.303585

In [193]:
wage_history_1980.to_csv('../data/new/wage_history_1980.csv')

In [194]:
wage_history_1990 = wage_history_1970.copy()
wage_history_1990['year'] = pd.DataFrame(range(2009, 2055))

In [195]:
wage_history_1990.to_csv('../data/new/wage_history_1990.csv')

In [196]:
wage_history_2000 = wage_history_1970.copy()
wage_history_2000['year'] = pd.DataFrame(range(2019, 2065))

In [197]:
wage_history_2000.to_csv('../data/new/wage_history_2000.csv')